.dnsCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #eeeaea;
    padding: 10px;
    height: 160px;
    width: 220px;
    border-radius: 10px;
}
.dnsCard > p{
    white-space: nowrap;       
    overflow: hidden;           
    text-overflow: ellipsis;
}